@import url("https://fonts.googleapis.com/css2?family=Anton&family=Flow+Circular&family=Work+Sans:wght@200&display=swap");
body {
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #282828; }

h1 {
  font-family: 'Anton', sans-serif;
  color: #444444;
  padding-bottom: 0.5rem;
  width: fit-content;
  border-bottom: 0.5rem solid #367ca5; }

#work h1,
#hiring h1,
#footer h1 {
  margin: 0 auto 1rem auto; }

#navbar {
  justify-content: end; }

#about h1 {
  width: fit-content; }

.lorem,
h1,
h2,
* {
  color: #575757; }

#about h1 {
  text-align: left; }

.profile_pic {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 50%;
  max-height: 200px;
  transform: scaleX(-1);
  filter: grayscale(1); }

section {
  margin: 2rem 0;
  padding: 1rem 0; }

section#about h1 {
  border-bottom: 0.5rem solid #9b4545; }

section#work {
  background-color: #d6d6d6; }

section#work h2 {
  margin: 1rem 0; }

section#hiring h1 {
  border-bottom: 0.5rem solid #959b45; }

section#footer {
  padding: 2rem 0;
  margin: 0;
  background-color: black; }
