<h2>{{ project.title }}</h2>


{% if project.link %}<a href="{{ project.link }}">{% endif %}


    {% if project.img %}
    <div class="img-container">
        <img class="img" src="{{ project.img }}" alt="">
    </div>
    {% else %}
    <div class="img">
        <p><i class="bi-boxes"></i></p>
    </div>
    {% endif %}

    {% if project.link %}
</a>{% endif %}

<div class="tags">
    {% for tag in project.tags %}
    <span class="badge text-black bg-light">{{ tag }}</span>
    {% endfor %}
</div>

{% if project.client %}
<i>Client: {{ project.client }}</i>
{% endif %}

<p>
    {{ project.desc }}
</p>


<p style="text-align: right;">

    {% if project.live %}
    <a style="color: green" class="btn btn-sm btn-light" href="{{project.live}}" target="_blank">{{ "View Live Site" if
        project.live_text == null else project.live_text }} <i style="color: green;" class="bi-search-heart"></i></a>
    {% endif %}

    {% if project.link %}
    <a class="btn btn-sm btn-success" href="{{project.link}}">Read More <i
            class="bi-arrow-right-circle text-white"></i></a>
    {% endif %}

</p>