{% extends '_base.html' %}

{% set title = "Home" %}

{% block content %}

<section id="about">
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <img class="profile_pic" src="/media/image.jfif" alt="">
            </div>

            <div class="col-md-9">

                <h1>about me</h1>
                <p class="lorem">

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati pariatur ducimus aliquam
                    veritatis cum perferendis, incidunt voluptates laudantium repudiandae eum est officiis nobis!
                    Dolorum pariatur earum consequuntur expedita odit veritatis?

                </p>
            </div>

        </div>
    </div>
</section>

<section id="work">
    <div class="container">

        <h1>my work</h1>

        <div class="row">

            <div class="col-md-4">

                <h2>project 1</h2>

                <a href="/projects/project1.html">
                    <div class="img">
                        <p></p>
                    </div>
                </a>

                <div class="tags">
                    <span class="badge text-black bg-light">javascript</span>
                    <span class="badge text-black bg-light">html</span>
                </div>

                <p class="lorem">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus recusandae officiis velit eum
                    tempore
                    assumenda blanditiis ullam quaerat esse doloremque facilis ipsa dolorum accusamus deleniti, animi,
                    nostrum dolor, nulla consequatur.
                </p>

            </div>

            <div class="col-md-4">
                <h2>project 2</h2>

                <a href="/projects/project2.html">
                    <div class="img">
                        <p></p>
                    </div>
                </a>

                <div class="tags">
                    <span class="badge text-black bg-light">django</span>
                    <span class="badge text-black bg-light">python</span>
                    <span class="badge text-black bg-light">sql</span>
                </div>

                <p class="lorem">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea dolores, quisquam sint fugit dicta
                    voluptatum odit provident voluptatem deleniti obcaecati modi neque itaque temporibus laboriosam ab
                    molestias! Et, unde autem!
                </p>

            </div>

            <div class="col-md-4">
                <h2>project 3</h2>
                <p class="lorem">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. In officiis veniam assumenda excepturi
                    libero
                    unde blanditiis explicabo eaque earum. Numquam voluptates minima eum recusandae mollitia obcaecati
                    ad
                    velit facilis distinctio.
                </p>

                <a href="/projects/project3.html">
                    <div class="img">
                        <p></p>
                    </div>
                </a>

                <div class="tags">
                    <span class="badge text-black bg-light">nodejs</span>
                    <span class="badge text-black bg-light">react</span>
                    <span class="badge text-black bg-light">gcp</span>
                </div>
            </div>
        </div>

        <button class="mx-auto btn btn-success d-block">
            Browse Portfolio
            <i class="text-white bi-arrow-right"></i>
        </button>

    </div>

</section>

<section id="hiring">
    <div class="container">

        <h1>hiring?</h1>

        <div class="row">

            <div class="mx-auto col-md-6">

                <div class="row">
                    <div class="col">
                        <button class="mx-auto btn btn-secondary d-block">
                            <i class="text-white bi-download"></i> Download my CV</button>
                    </div>
                </div>

                <div class="text-center fw-bold fs-2">or</div>

                <form action="" class="form-inline">
                    Get my CV in your mailbox:

                    <div class="form-group">

                        <label for="email" class="visually-hidden">Email</label>

                        <div class="input-group">
                            <input id="email" type="email" name="email" class="form-control" placeholder="Your Email">
                            <button type="submit" class="btn btn-md btn-success d-block mx-auto me-0">Send
                                CV</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>

    </div>
</section>

{% endblock %}