{% extends '_base.html' %}

{% set title = "Home" %}

{% set projects =
[
{title: "Shopify Site", client:"UStar Myanmar", link: "/projects/ustarmm/", live_text: "View Shop", live:
"https://ustarmm.com", tags: ["Shopify"], desc: "An e-commerce store with hundreds of products and dozens of
categories."},
{title: "Lucky Draw Web App", client: "Berina Myanmar", link: "/projects/berinaluckydraw", tags: ["GCP", "NodeJS"],
desc: "A web app for collecting entries and automatically assigning winners for a lucky draw program."},
{title: "Airport VIP Booking System", client: "APAS Thailand", tags: ["Django", "AngularJS"], desc: "An appointment
booking system for a VIP service provider at major airports in Thailand and other SEA countries."},
{title: "Facebook Instant Game", client: "Samsung Myanmar", tags: ["GCP", "Facebook Instant Game"], desc: "A Facebook
Instant Game to promote the launch of a range of new mobile phones."},
{title: "Board Game Cafe POS", client: "House Rules Cafe", tags: ["Django"], desc: "A custom Point-of-Sale System for a
board game cafe including membership & cash card management, staff clock-in system, table timers, and more."},
{title: "Other", tags: ["Joomla", "WordPress", "HTML/CSS"], link:"/projects/other/", desc: "A dozen websites for clients
using CMS's including Joomla, WordPress, and Django."}
]
%}

{% block content %}


<section id="about">
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <img class="profile_pic" src="/media/image.jfif" alt="">
            </div>

            <div class="col-md-9">

                <h1>About Me</h1>
                <p class="lorem">

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati pariatur ducimus aliquam
                    veritatis cum perferendis, incidunt voluptates laudantium repudiandae eum est officiis nobis!
                    Dolorum pariatur earum consequuntur expedita odit veritatis?

                </p>
            </div>

        </div>
    </div>
</section>

<section id="work">
    <div class="container">

        <h1>My Freelance Work</h1>

        <div class="row">

            {% for project in projects %}
            <div class="col-md-4">
                {% include 'snippets/project.html' %}
            </div>
            {% endfor %}

        </div>

    </div>

</section>

<section id="hiring">
    <div class="container">

        <h1>Looking for a full-stack developer?</h1>

        <div class="row">
            <div class="my-3 col-md-4">
                <h2>
                    <i class="bi-linkedin" style="font-size: 3rem"></i>
                </h2>

                <a href="https://www.linkedin.com/" class="mx-auto btn btn-secondary d-block"
                    style="width:fit-content">Connect on LinkedIn</a>
            </div>

            <div class="my-3 col-md-4">
                <h2>
                    <i class="bi-file-earmark-pdf-fill" style="font-size: 3rem"></i>
                </h2>
                <button class="mx-auto btn btn-secondary d-block">Download CV</button>

            </div>
            <div class="my-3 col-md-4">

                <h2>
                    <i class="bi-github" style="font-size: 3rem"></i>
                </h2>

                <a href="https://www.github.com/" class="mx-auto btn btn-secondary d-block"
                    style="width: fit-content">View on GitHub</a>

            </div>

            <!-- <div class="text-center fw-bold fs-2">or</div>
                <form action="" class="form-inline">
                    Get my CV in your mailbox:

                    <div class="form-group">

                        <label for="email" class="visually-hidden">Email</label>

                        <div class="input-group">
                            <input id="email" type="email" name="email" class="form-control" placeholder="Your Email">
                            <button type="submit" class="btn btn-md btn-success d-block mx-auto me-0">Send
                                CV</button>
                        </div>
                    </div>
                </form> -->

        </div>

    </div>
</section>

{% endblock %}