{% extends 'pages/projects/_base.html' %}
hi

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Project X</h1>

                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos ducimus qui saepe at, voluptates
                    aut amet perspiciatis perferendis. Veritatis ducimus ea voluptas mollitia culpa atque deserunt
                    hic nobis doloremque quas?
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock %}