    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Flow+Circular&family=Finlandica:ital@1&family=Work+Sans:wght@200&display=swap');

    body {
        padding: 0;
        font-family: 'Source Sans Pro', sans-serif;
        color: rgb(40, 40, 40);
        position: relative;
    }

    h1 {
        // font-family: 'Anton', sans-serif;
        font-family: 'Finlandica', sans-serif;
        color: rgb(68, 68, 68);
        padding-bottom: 0.5rem;
        width: fit-content;
    }

    h2 {
        font-size: 1.5rem;
    }

    #work,
    #hire,
    #footer,
    #github {
        h1 {
            margin: 0 auto 1rem auto;
        }
    }

    #navbar {
        justify-content: end;
    }

    li.spacer {
        flex: 1;
    }

    #about {
        h1 {
            width: fit-content;
        }
    }

    .lorem,
    h1,
    h2,
    * {
        // font-family: 'Flow Circular' !important;
        color: rgb(87, 87, 87);
    }

    #about h1 {
        text-align: left;
    }

    #work h1 {
        border-bottom: 0.5rem solid rgb(54, 124, 165);
    }

    .profile_pic {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        border-radius: 50%;
        max-height: 200px;
        transform: scaleX(-1);
        filter: grayscale(1);
    }

    section {
        // margin: 2rem 0;
        padding: 1rem 0;
    }

    section#about h1 {
        border-bottom: 0.5rem solid rgb(155, 69, 69);
    }

    section#work {
        background-color: rgb(214, 214, 214);
    }

    section#work h2 {
        margin: 1rem 0;
    }

    section#hire h2 {
        text-align: center;
        font-size: 1.8em;
    }

    section#hire h1 {
        border-bottom: 0.5rem solid rgb(149, 155, 69);
    }

    footer#footer {
        padding: 2rem 0;
        margin: 0;
        background-color: black;
    }

    div.img-container {
        width: 100%;
    }

    img.img {
        max-width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: top;
    }

    div.img {
        max-width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
    }


    .project-item {
        div.img p {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 100%;
            border: 1px solid gray;
            width: 100%;
            text-align: center;
            color: black;
            margin: 0;

            i {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 5rem;
                color: #ccc;

                img {
                    max-width: 8rem;
                    max-height: 8rem;
                }
            }
        }
    }

    .project-item div.img p i img {
        transition: all 0.5s ease;
        filter: saturate(0) opacity(0.3)
    }

    .project-item.active div.img p i img {
        filter: saturate(1) opacity(1)
    }

    .project-item img.img {
        transition: all 0.5s ease;
        filter: saturate(0) opacity(1);
    }

    .project-item.active img.img {
        filter: saturate(1) opacity(1);
    }

    div.tags {
        margin-bottom: 16px;
    }

    #side-nav {
        position: sticky;
        top: 5rem;
    }

    #side-nav .nav-link.active {
        background-color: rgb(54, 124, 165);
    }

    // body[data-bs-spy="scroll"] section {
    section {
        padding-top: 6rem;
    }

    section#hire {
        padding-bottom: 3rem;
    }

    .project-item {
        a {
            text-decoration: none;
        }
    }